.feedTitle {
  display:none;
}
.accordion-body.in {
    overflow:visible;
}




ul,li {
  list-style-type: none;
}

ul li div {
  margin-bottom:2em;
}

#creditfooter {
  display:none;
}

/* TODO GET THIS OUT */

.error {
  color: red;
}

#submit-iframe-dood {
  display:none;
}
